<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Hello,Vue.js!</h1>
        <h1 v-if="yes">yes！</h1>
        <h1 v-if="no">no！</h1>
        <h1 v-if="age >= 25">age:{{age}}</h1>
        <h1 v-if="name.indexOf('jack') >= 0">name:{{name}}</h1>
    </div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el:'#app',
        data:{
            yes:true,
            no:false,
            age:28,
            name:'keepfool'
        }
    })
</script>
</html>